main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.comment-widget {
    display: flex;
    flex-direction: column;
}
.comment-conatiner {
    margin-left: 10px;
}